.download {
	@include container;
	padding: $sectionPadding;
}
.download__title {
	margin-bottom: 22px;
	text-align: center;
	color: #2d3033;
	@include font('RalewayLight');
	font-size: 1.75rem;
	line-height: 1.2em;
}
.download__descr {
	margin-bottom: 40px;
	color: #2d3033;
	@include font('RalewayBold');
	font-size: 0.8125rem;
	line-height: 1.61538em;
	text-transform: uppercase;
	text-align: center;
}
.btn--download {
	min-width: 280px;
}