.footer {
	background: #3a3e64;
}
.container--footer {
	padding-top: 70px;
	padding-bottom: 80px;
}
.footer__column-wrap {
	margin: -15px;
	display: flex;
	justify-content: space-around;
}
.footer__column {
	width: 33.33%;
	padding: 15px;
}
.footer__column-title {
	margin-bottom: 25px;
	color: #fff;
	@include font('RalewayBold');
	font-size: 14px;
	text-transform: uppercase;
	text-align: center;
}
.footer__column-descr, .footer__column-link {
	margin-bottom: 0;
	color: rgba(255, 255, 255, .5);
	@include font('RalewayRegular');
	font-size: 0.875rem;
	line-height: 1.6429em;
	text-align: center;
}
.footer__column-link {
	text-decoration: none;
}

// Footer Social Buttons
.social__list--footer {
	justify-content: center;
}
.social__item--footer {
	border: 2px solid #fff;
	border-radius: 2px;
	margin-right: 7px;
}
.social__link--footer {
	color: #fff;
}

// Footer Copy
.footer__copy {
	padding: 30px 15px;
	background: #313454;
	font-size: 0.875rem;
	line-height: 1.6429em;
	@include font('RalewayRegular');
	color: #808080;
	text-align: center;
	& .fa {
		color: #e84545;
	}
	& span {
		color: #fff;
	}
}