@mixin container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	@media screen and (max-width: 1220px) {
		width: 992px;
	}
	@media screen and (max-width: 1102px) {
		width: 768px;
	}
	@media screen and (max-width: 788px) {
		width: 576px;
	}
	@media screen and (max-width: 596px) {
		width: 100%;
	}
}

@mixin font($font) {
	@if $font == 'RalewayLight' {
		font-family: 'Raleway', sans-serif;
		font-weight: 300;
	}
	@else if $font == 'RalewayRegular' {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}
	@else if $font == 'RalewaySemiBold' {
		font-family: 'Raleway', sans-serif;
		font-weight: 600;
	}
	@else if $font == 'RalewayBold' {
		font-family: 'Raleway', sans-serif;
		font-weight: 700;
	}
	@else if $font == 'OpenSansRegular' {
		font-family: 'Open Sans', sans-serif;
		font-weight: 400;
	}
	@else if $font == 'OpenSansBold' {
		font-family: 'Open Sans', sans-serif;
		font-weight: 700;
	}
	@else if $font == 'Cardo' {
		font-family: 'Cardo', serif;
	}
	@else {
		font-family: 'Raleway', sans-serif;
		font-weight: 400;
	}
}
