@media screen and (max-width: 1220px) {
	.home__title {
		font-size: 3.5rem;
	}
	.logo {
		padding: 20px 0;
	}
	.testimonials__column--left {
		background-position: 90%;
	}
}
@media screen and (max-width: 1102px) {
	.nav {
		width: 63%;
	}
	.home__title {
		font-size: 2.7rem;
	}
	.home__descr {
		font-size: 1.1rem;
	}
	.features, .team, .download {
		padding: $sectionPaddingMD;
	}
	.works__item {
		width: 50%;
	}
	.team__item {
		width: 40%;
	}
	.testimonials__column--left {
		width: 40%;
		background-position: 70%;
	}
	.testimonials__column--right {
		width: 60%;
	}
}
@media screen and (max-width: 788px) {
	.nav {
		width: 200px;
		height: 100vh;
		padding: 25px;
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		background: lightblue;
		z-index: 9999;
		transition: transform .2s linear;
		will-change: transform;
	}
	.nav__list {
		flex-direction: column;
	}
	.nav__item {
		margin-bottom: 10px;
	}
	.nav__item:last-child {
		margin-bottom: 0;
	}
	.nav__link {
		display: inline-block;
		font-size: 1rem;
		padding: 5px;
	}
	.nav__link:hover, .nav__link:active {
		color: #ff6033;
	}
	.nav__link:before, .nav__link:after {
		display: none;
	}
	.hamburger__icon {
		display: block;
	}
	.hamburger__input:checked ~ .nav {
		transform: translateX(0);
	}
	.hamburger__input:checked + .hamburger__icon:before {
		content: '';
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: #666;
		opacity: .6;
		cursor: default;
	}
	.home__content {
		width: 100%;
	}
	.home__title {
		font-size: 2.2rem;
	}
	.features, .team, .download {
		padding: $sectionPaddingSM;
	}
	.features__item {
		max-width: none;
		width: 70%;
	}
	.team__item {
		width: 50%;
	}
	.team__photo, .team__name, .team__profession {
		margin-bottom: 15px;
	}
	.testimonials {
		flex-direction: column;
	}
	.testimonials__column {
		width: 100%;
	}
	.testimonials__column--left {
		height: 400px;
	}
	.testimonials__column--right {
		padding: 50px;
	}
	.testimonials__client-quote {
		max-width: none;
		width: 100%;
		font-size: 1.7rem;
	}
	.testimonials__client-name {
		margin-bottom: 0;
	}
	.download__title {
		font-size: 1.5rem;
	}
	.footer__column-wrap {
		flex-direction: column;
		margin: -30px 0;
	}
	.footer__column {
		width: 100%;
		padding: 30px 0;
	}
	.download__descr {
		margin-bottom: 25px;
	}
}
@media screen and (max-width: 596px) {
	.home__title {
		font-size: 1.7rem;
	}
	.home__descr {
		font-size: 1rem;
	}
	.features__item {
		width: 100%;
	}
	.works__item {
		width: 100%;
	}
	.team__list {
		margin: -15px;
	}
	.team__item {
		max-width: 330px;
		width: 100%;
	}
	.testimonials__column--left {
		height: 300px;
	}
	.testimonials__column--right {
		padding: 25px;
	}
	.testimonials__client-quote {
		font-size: 1.3rem;
		margin-bottom: 25px;
	}
	.download__title {
		font-size: 1.3rem;
	}
	.footer__column-wrap {
		margin: -20px 0;
	}
	.footer__column {
		padding: 20px 0;
	}
	.footer__column-title {
		margin-bottom: 15px;
	}
}