.team {
	@include container;
	padding: $sectionPadding;
}
.team__list {
	margin: -15px;
	padding: 0;
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
.team__item {
	width: 25%;
	padding: 15px;
}
.team__photo {
	width: 100%;
	margin-bottom: 25px;
}
.team__name {
	margin-bottom: 20px;
	color: #2d3033;
	@include font('RalewayRegular')
	font-size: 22px;
}
.team__profession {
	margin-bottom: 33px;
	color: #e84545;
	@include font('RalewayRegular')
	font-size: 13px;
	text-transform: uppercase;
}
.team__about {
	margin-top: 0;
	color: #6c7279;
	@include font('RalewayRegular')
	font-size: 0.875rem;
	line-height: 1.5em;
}
.social__item--team {
	border: 1px solid #e8ecee;
	margin-right: 4px;
}
.social__link--team {
	color: #c6cacc;
}