.testimonials {
	display: flex;
}
.testimonials__column {
	width: 50%;
}
.testimonials__column--left {
	background: url('../img/quote-bg-1.jpg') center center no-repeat;
	background-size: cover;
}
.testimonials__column--right {
	padding: 120px 0 120px 85px;
	background: #53354a;
}
.testimonials__client-quote {
	margin-bottom: 40px;
	max-width: 500px;
	color: #fff;
	@include font('Cardo');
	font-size: 2.25rem;
	line-height: 1.16667em;
}
.testimonials__client-name {
	margin-bottom: 65px;
	color: #fff;
	@include font('RalewayBold');
	font-family: Raleway;
	font-size: 0.8125rem;
	line-height: 1.61538em;
	text-transform: uppercase;
}