.features {
   padding-bottom: 50px;
}
.features-list {
   display: flex;
   list-style: none;
   margin: 0;
   padding: 0;
   flex-wrap: wrap;
   margin: -12px;
}
.features-item {
   width: 50%;
   font-size: 0;
   border-radius: 11px;
   overflow: hidden;
   padding: 12px;
   img {
      width: 100%;
   }
   @media (max-width: 700px) {
      width: 100%;
      &:nth-child(3),
      &:nth-child(4) {
         display: none;
      }
   }
}
.features-content {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   padding: 4% 2%;
   box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
   border-radius: 10px;
   background-color: #fff;
   text-align: center;
   width: 80%;
   max-width: 700px;
   @media (max-width: 700px) {
      padding: 20px 15px;
   }
   @media (max-width: 500px) {
      width: 85%;
   }
   .title {
      color: #333;
      font-family: Bernadette;
      font-size: 50px;
      font-weight: 400;
      letter-spacing: -1.58px;
      margin: 0 0 25px 0;
      @media (max-width: 1200px) {
         font-size: 45px;
      }
      @media (max-width: 500px) {
         font-size: 38px;
      }
      @media (max-width: 370px) {
         font-size: 34px;
      }
   }
   .description {
      color: #040404;
      font-size: 18px;
      font-style: italic;
      line-height: 1.5;
      letter-spacing: 0.45px;
      margin: 0 0 15px 0;
      @media (max-width: 900px) {
         font-size: 16px;
         line-height: 1.4;
      }
      @media (max-width: 500px) {
         font-size: 14px;
         line-height: 1.3;
      }
   }
}