.about-us {
   @include sectionContainer;
   padding-bottom: 0;
}
.about-us__paragraph {
   text-indent: 25px;
   margin-bottom: 20px;
   &:last-child {
      margin-bottom: 0;
   }
}

.about-us__statistic {
   padding: 60px 0;
   margin-top: 50px;
   background: lighten($headerBg, 75%);
}
.about-us__statistic-title {
   margin-bottom: 30px;
   font-size: 23px;
   color: $darkColor;
   text-align: center;
}
.about-us__statistic-list {
   @include list;
   display: flex;
   justify-content: space-around;
}
.about-us__statistic-item {
   width: 20%;
   color: $darkColor;
   display: flex;
   align-items: center;
   flex-direction: column;
   text-align: center;
}
.about-us__statistic-number {
   font-size: 35px;
   color: $darkColor;
   margin-bottom: 15px;
   flex-grow: 1;
   & div {
      font-size: 25px;
   }
}
.about-us__statistic-descr {
   font-size: 20px;
}