.header {
   width: 100%;
   background: $headerBg;
   position: fixed;
   top: 0;
   left: 0;
   padding: 10px 0;
   font-weight: 200;
   z-index: 9;
   box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.2);
}
.container--header {
   display: flex;
   justify-content: space-between;
   align-items: center;
}
.logo_link {
   text-decoration: none;
   color: $darkColor;
   display: block;
   width: 55px;
   height: 50px;
   background: url(../vibo-trans-logo.svg) center center no-repeat;
   background-size: cover;
   @media screen and (min-width: 597px) {
      width: 250px;
      background: url(../logo+name.svg) center center no-repeat;
      background-size: cover;
	}
}

.nav {
   @include sm-screen {
      position: absolute;
      right: 0;
      top: 100%;
      display: none;
      padding: 30px;
      background: #000;
   }
   &--active {
      display: block;
   }
}
.nav__list {
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   list-style: none;
   @include sm-screen {
      flex-direction: column;
   }
}
.nav__item {
   margin-right: 20px;
   &:last-child {
      margin-right: 0;
   }
   @include sm-screen {
         margin-right: 0;
   }
}
.nav__btn {
   display: block;
   text-decoration: none;
   padding: 20px 2px;
   color: $whiteColor;
   position: relative;
   background-color: transparent;
   border: none;
   cursor: pointer;
   @include sm-screen {
      padding: 20px 10px;
   }
   &:before, &:after {
      content: '';
      position: absolute;
      bottom: -9px;
      height: 2px;
      background: $whiteColor;
      width: 0;
      transition: width .2s linear;
      @include sm-screen {
            display: none;
      }
   }
   &:before {
      right: 50%;
   }
   &:after {
      left: 50%;
   }
   &:hover:before, &:hover:after {
      width: 50%;
   }
   &:active {
      background: #414154;
   }
}
.header__address {
   display: flex;
   flex-direction: column;
   align-items: center;
   font-style: normal;
}
.header-address__link {
   text-decoration: none;
   color: $whiteColor;
   padding: 5px;
   border-radius: 3px;
   display: block;
   width: 100%;
   font-size: 14px;
   &:hover, &:active {
      background: #414154;
   }
   &--phone,
   &--email {
      position: relative;
      padding-left: 30px;
      display: block;
      &:before {
         content: '';
         position: absolute;
         top: 50%;
         left: 5px;
         transform: translateY(-50%);
         height: 20px;
         width: 20px;
      }
   }
   &--phone:before {
      background: url(../img/ic_phone_black_24px.svg);
   }
   &--email:before {
      background: url(../img/ic_mail_outline_black_24px.svg);
   }
}
.header__hamburger {
   display: none;
   @include sm-screen {
      display: block;
   }
   & button {
      background-color: transparent;
      border: none;
      padding: 0;
      cursor: pointer;
      & svg {
         fill: #fff;
         height: 30px;
         width: 30px;
      }
   }
}