.top-section {
   margin-top: 71px;
   padding: 250px 0;
   min-height: 100vh;
   background: url('../img/P1010001(2).JPG') center center no-repeat;
   background-size: cover;
   position: relative;
   &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: transparentize($headerBg, .3);
   }
}
.container--top-section {
   position: relative;
   z-index: 1;
   color: $whiteColor;
}
.top-section__title {
   font-size: 80px;
   margin-bottom: 10px;
}
.top-section__descr {
   font-size: 40px;
}