body {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   background: lightgray;
   font-size: 20px;
}
.table {
   margin: 50px auto;
   border: 1px solid gray;
}
td {
   width: 40px;
   height: 40px;
   text-align: center;
   border: 1px solid gray;
}
.yellow {
   background: #F6F4DA;
   color: #FF0000;
}