.section-title-wrap {
   display: flex;
   justify-content: center;
}
.section-title {
   font-size: 25px;
   position: relative;
   padding: 0 15px;
   color: $headerBg;
   text-transform: uppercase;
   margin-bottom: 40px;
   /* &:before, &:after {
      content: '';
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      width: 30px;
      height: 1px;
      background: #000;
   }
   &:before {
      right: 100%;
   }
   &:after {
      left: 100%;
   } */
   &:before {
      content: '';
      position: absolute;
      bottom: -10px;
      left: 50%;
      width: 60px;
      height: 2px;
      background: $headerBg;
      transform: translateX(-50%);
   }
}