@mixin lg-screen() {
	@media screen and (max-width: 1220px) {
		@content;
	}
}
@mixin md-screen() {
	@media screen and (max-width: 1012px) {
		@content;
	}
}
@mixin sm-screen() {
	@media screen and (max-width: 788px) {
		@content;
	}
}
@mixin xs-screen() {
	@media screen and (max-width: 596px) {
		@content;
	}
}

@mixin container {
	width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	@include lg-screen {
		width: 992px;
	}
	@include md-screen {
		width: 768px;
	}
	@include sm-screen {
		width: 576px;
	}
	@include xs-screen {
		width: 100%;
	}
}
@mixin sectionContainer {
	padding-top: 50px;
	padding-bottom: 50px;
}
@mixin flexCenter{
	display: flex;
	justify-content: center;
	align-items: center;
}
@mixin bgOpacity($color, $opacity) {
	background: rgba($color, $opacity);
}
@mixin btn {
	background: none;
   border: none;
	cursor: pointer;
	padding: 0;
}
@mixin list {
	margin: 0;
	padding: 0;
	list-style: none;
}