.services {
   padding: 50px 0;
   background: #f4f4f4 url(/assets/img/services-section-bg.png) right center no-repeat;
   background-size: contain;
   position: relative;
   @media (max-width: 1200px) {
      background-position-x: 135%;
   }
   @media (max-width: 900px) {
      background-position: bottom center;
      background-size: 540px;
   }
}
.services-content {
   max-width: 45%;
   @media (max-width: 1200px) {
      max-width: 50%;
   }
   @media (max-width: 900px) {
      max-width: unset;
   }
}
.title {
   color: #333;
   font-family: Bernadette;
   font-size: 50px;
   font-weight: 400;
   letter-spacing: -1.58px;
   margin: 10px 0 20px 0;
   & + .description {
      font-weight: 600;
   }
   @media (max-width: 1200px) {
      font-size: 45px;
   }
}
.description {
   color: #040404;
   font-size: 18px;
   line-height: 1.4;
   letter-spacing: 0.45px;
   font-weight: 300;
   margin-bottom: 15px;
   @media (max-width: 700px) {
      font-size: 16px;
   }
}
.icons {
   position: absolute;
   top: 50%;
   left: 61%;
   transform: translate(-50%, -50%);
   box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
   border-radius: 10px;
   background-color: #646464;
   background-image: linear-gradient(-225deg, #de813c 0%, #3f519a 100%);
   width: 350px;
   max-width: 100%;
   opacity: .95;
   @media (max-width: 1200px) {
      left: 68%;
      width: 300px;
   }
   @media (max-width: 900px) {
      position: static;
      transform: unset;
      margin: 0 auto;
      margin-top: 70px;
   }
}
.icons-list {
   display: flex;
   flex-wrap: wrap;
   list-style: none;
   margin: 0;
   padding: 0;
}
.icons-item {
   width: 50%;
}