<footer class="footer">
  <app-container>
    <address class="address">
      <ul class="address-list">
        <li class="address-item">
          <figure>
            <div class="img-wrap"><img src="/assets/img/email-icon.png" alt="Email"></div>
            <figcaption>
              <h3 class="address-title">Email</h3>
              <a class="address-link" href="mailto:email@keenethics.com">email@keenethics.com</a>
              <a class="address-link" href="mailto:email@keenethics.com">email@keenethics.com</a>
            </figcaption>
          </figure>
        </li>
        <li class="address-item">
          <figure>
            <div class="img-wrap"><img src="/assets/img/phone-icon.png" alt="Phone"></div>
            <figcaption>
              <h3 class="address-title">Call Us</h3>
              <a class="address-link" href="tel:+1234567890">+123 456 7890</a>
              <a class="address-link" href="tel:+1234567890">+123 456 7890</a>
            </figcaption>
          </figure>
        </li>
        <li class="address-item">
          <figure>
            <div class="img-wrap"><img src="/assets/img/location-icon.png" alt="Location"></div>
            <figcaption>
              <h3 class="address-title">Address</h3>
              <a class="address-link" href="#">123, Main Road, New City, My Country 123456</a>
            </figcaption>
          </figure>
        </li>
      </ul>
    </address>
  </app-container>
</footer>