.preloader-wrap {
   width: 100%;
   padding: 50px 15px;
   display: flex;
   justify-content: center;
   align-items: flex-start;
}
.preloader {
   width: 50px;
   position: relative;
}
.preloader:before {
   content: '';
   display: block;
   padding-top: 100%;
}
.circle-wrap {
   animation: rotate 2s linear infinite;
   height: 100%;
   transform-origin: center center;
   width: 100%;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
   margin: auto;
}

.circle {
   stroke-dasharray: 1, 200;
   stroke-dashoffset: 0;
   animation: dash 2s ease-in-out infinite, color 6s ease-in-out infinite alternate;
   stroke-linecap: round;
   stroke: black;
}
.circle:first-child {
   animation: dash-first 2.5s ease-in-out infinite, color 6s ease-in-out infinite alternate;
}
.circle:last-child {
   animation: dash-second 3s ease-in-out infinite, color 6s ease-in-out infinite alternate;
}

@keyframes rotate {
   100% {
      transform: rotate(360deg);
   }
}

@keyframes dash {
   0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }
   50% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -35px;
   }
   100% {
      stroke-dasharray: 90, 200;
      stroke-dashoffset: -124px;
   }
}
@keyframes dash-first {
   0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }
   50% {
      stroke-dasharray: 104, 200;
      stroke-dashoffset: -35px;
   }
   100% {
      stroke-dasharray: 104, 200;
      stroke-dashoffset: -124px;
   }
}
@keyframes dash-second {
   0% {
      stroke-dasharray: 1, 200;
      stroke-dashoffset: 0;
   }
   50% {
      stroke-dasharray: 141, 200;
      stroke-dashoffset: -35px;
   }
   100% {
      stroke-dasharray: 141, 200;
      stroke-dashoffset: -124px;
   }
}

@keyframes color {
   0% {
      stroke: #1976D2;
   }
   33% {
      stroke: #388E3C;
   }
   66% {
      stroke: #C2185B;
   }
   100% {
      stroke: #607D8B;
   }
}