.basketball-section {
	padding-top: 110px;
	width: 100%;
	position: relative;
	overflow-x: hidden;
}
.basketball-section__img {
	height: 90%;
	position: absolute;
	top: -30px;
	right: 25%;
	transform: translateX(50%);
}
.section-title-wrap--basketball-section {
	padding-left: 15%;
}
.section__item--basketball-section {
	padding-left: 15%;
	padding-right: 50%;
}