.football-section {
	padding-top: 110px;
	width: 100%;
	position: relative;
}
.football-section__img {
	height: 100%;
	position: absolute;
	top: 40px;
	left: 25%;
	transform: translateX(-50%);
}
.section-title-wrap--football-section {
	padding-left: 50%;
}
.section__item--football-section {
	padding-left: 50%;
	padding-right: 8%;
}