// Bg Colors
$bodyBg: #fff;
$firstBg: #0a0e34;
$secondBg: #5e42b0;

$btnBg: $secondBg;
$btnHoverBg: #452898;


$sectionItemFirstBg: #fff;
$sectionItemSecondBg: #f6f4fa;
$sectionItemThirdBg: $secondBg;


// Font Colors
$colorWhite: #fff;
$colorBlack: #000;
$colorNav: #9071ea;
$colorHamburger: #535AEE;
$colorSectionTitle: #e7e7e7;
$colorSectionItemTitle: #c1c1c1;