
/*-- adjustment settings
============================*/

* {
	box-sizing: border-box;
}



/* input settings */
/* *::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} */


html, body {
	font-family: 'Open Sans', sans-serif;
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

body {
	background: #fff;
	min-height: 300vh;
}

.maincontent {
	flex-grow: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	position: relative;
	margin: 0 auto;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}


img {
	max-width: 100%;
	display: block;
}

.hidden {
	display: none;
}


/* Circle Icon */
.circle-icon-bg-small, .circle-icon-bg-big {
	border-radius: 50%;
	background-color: rgba(244, 245, 249, 0.25);
	transform: translate(50%, 50%);
}
.circle-icon-bg-small {
	width: 74px;
	height: 74px;
}
.circle-icon-bg-big {
	width: 172px;
	height: 172px;
}
.circle-icon-small, .circle-icon-big {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	border-radius: 50%;
}
.circle-icon-small {
	width: 64px;
	height: 64px;
}
.circle-icon-big {
	width: 150px;
	height: 150px;
}

/* Buttons */
.button {
	display: block;
	border-radius: 3px;
	text-transform: uppercase;
	text-align: center;
	font-weight: 700;
	font-size: 14px;
	color: white;
	transition: background-color .1s linear,
					box-shadow .1s linear;
}
.button--red-big, .button--red {
	background-color: rgba(231, 76, 60, .8);
}
.button--red-big {
	width: 225px;
	height: 56px;
	line-height: 56px;
}
.button--red, .button--gray {
	height: 46px;
	width: 145px;
	line-height: 46px;
}
.button--gray {
	background-color: #999;
}
.button:hover {
	background-color: #e74c3c;
	box-shadow: 0 2px 4.8px 0.3px rgba(0, 0, 0, 0.25);
}
.button--center {
	margin: 0 auto;
}

/* Section Title */
.section-title-wrap {
	padding-bottom: 23px;
	position: relative;
}
.section-title-wrap:before {
	content: '';
	display: block;
	width: 200px;
	height: 1px;
	background-color: #999;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.section-title-wrap:after {
	content: '';
	display: block;
	width: 8px;
	height: 8px;
	background-color: #e74c3c;
	border: 14px solid #fff;
	border-radius: 50%;
	position: absolute;
	bottom: 0;
	left: 50%;
	transform: translate(-50%, 50%);
}
.section-title {
	margin: 0 0 17px 0;
	color: #6a6a6a;
	font-family: Source Sans Pro;
	font-size: 36px;
	letter-spacing: .09em;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.section-title__descr {
	margin: 0;
	color: #999;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
	text-align: center;
	letter-spacing: .015em;
}/* ./Section Title */

.column-wrap {
	width: 100%;
	display: flex;
}
.column {
	width: 50%;
}


/*-- 1. HOME SECTION
============================*/
.home {
	width: 100%;
	height: 100vh;
	background: url('../img/home-bg.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
}
.home:before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .7);
}

/* Header */
.header {
	width: 100%;
	display: flex;
}
.logo {
	width: 25%;
	font-size: 0;
}
.logo__link {
	display: block;
	width: 140px;
	height: 52px;
	background: url('../img/logo.png') center center no-repeat;
	background-size: cover;
	margin: 40px 0;
}
.nav {
	width: 75%;
}
.nav__list {
	height: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}
.nav__item {
	margin-right: 49px;
}
.nav__item:last-child {
	margin-right: 0;
}
.nav__link {
	display: block;
	font-size: 14px;
	color: #f4f5f9;
	font-weight: 400;
	text-transform: uppercase;
	padding: 22px 3px;
	position: relative;
	text-align: center;
}
.nav__link:hover {
	color: #e74c3c;
	font-weight: 700;
}
.nav__link:before {
	display: block;
	content: attr(title);
	font-weight: bold;
	height: 0;
	overflow: hidden;
	visibility: hidden;
}
.nav__link:after {
	content: '';
	display: block;
	width: 0;
	height: 1px;
	background-color: #e74c3c;
	position: absolute;
	left: 0;
	bottom: 0;
	transition: width .1s linear;
}
.nav__link:hover:after {
	width: 100%;
}/* ./Header */

/* Home Content */
.home-content-wrap {
	width: 790px;
	text-align: center;
	margin: 0 auto;
	margin-top: 100px;
}
.home__descr {
	margin: 0;
	font-family: Source Sans Pro;
	font-weight: 400;
	color: #f4f5f9;
	font-size: 24px;
	letter-spacing: .055em;
}
.home__title {
	margin: 26px 0 0 0;
	color: #f4f5f9;
	font-size: 72px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: .095em;
}
.home__text {
	margin: 78px auto 0 auto;
	width: 600px;
	color: #cbc6c0;
	font-size: 14px;
	font-weight: 400;
	line-height: 24px;
}
.home-buttons-wrap {
	margin-top: 66px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.button-home-transparent {
	width: 225px;
	height: 52px;
	border: 1px solid white;
	margin-left: 30px;
	line-height: 52px;
}/* ./Home Contrnt */
.circle-icon--bg-home {
	position: absolute;
	bottom: 0;
	right: 50%;
}
.circle-icon--home {
	background: #f4f5f9 url('../img/icons/anker-incon.png') center center no-repeat;
}

/* Trianfles */
.main__triangle {
	position: absolute;
	bottom: 0;
	width: 0;
	height: 0;
	border-bottom: 110px solid #fff;
	pointer-events: none;
}
.main__triangle--left {
	left: 0;
	border-right: 50vw solid transparent;
}
.main__triangle--right {
	right: 0;
	border-left: 50vw solid transparent;
}


/*-- 2. ABOUT US SECTION
============================*/

/* Tiles */
.tiles-wrap {
	width: 100%;
	border-bottom: 1px #e6e7eb solid;
}
.tiles__list {
	margin: 0 -15px;
	padding: 0;
	display: flex;
	justify-content: space-between;
}
.tiles__item {
	width: 280px;
	padding: 0 15px;
	position: relative;
}
.title_rhomb {
	background: none;
	border: 0;
	width: 62px;
	height: 62px;
	margin: 133px auto 0 auto;
	transform: rotate(-45deg);
	position: relative;
}
.title_rhomb:before, .title_rhomb:after {
	box-sizing: inherit;
   content: '';
   position: absolute;
   width: 100%;
   height: 100%;
}
.title_rhomb--hover {
	transition: color 0.25s;
}
.title_rhomb--hover:before, .title_rhomb--hover:after {
	border: 1px solid transparent;
   width: 0;
   height: 0;
}
.title_rhomb--hover:before {
	top: 0;
	left: 0;
}
.title_rhomb--hover:after {
	bottom: 0;
	right: 0;
}
.tiles__item:hover .title_rhomb--hover:before, .tiles__item:hover .title_rhomb--hover:after {
	width: 100%;
   height: 100%;
}
.tiles__item:hover .title_rhomb--hover:before {
	border-top-color: #e74c3c;
    border-right-color: #e74c3c;
    transition:width 0.05s ease-out,
					height 0.05s ease-out 0.05s;
}
.tiles__item:hover .title_rhomb--hover:after {
	border-bottom-color: #e74c3c;
    border-left-color: #e74c3c;
    transition:border-color 0s ease-out 0.1s,
					width 0.05s ease-out 0.1s,
					height 0.05s ease-out 0.15s;
}
.tile__icon {
	width: 27px;
	height: 27px;
	transform: rotate(45deg);
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
}
.tile__icon--design {
	background: url('../img/icons/about-us-1.png') center center no-repeat;
}
.tile__icon--clean-code {
	background: url('../img/icons/about-us-2.png') center center no-repeat;
}
.tile__icon--creative {
	background: url('../img/icons/about-us-3.png') center center no-repeat;
}
.tile__icon--support {
	background: url('../img/icons/about-us-4.png') center center no-repeat;
}
.tile__title {
	margin: 34px 0 0 0;
	color: #6a6a6a;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .09em;
	transition: color .1s linear;
	position: relative;
}
.tile__title:after {
	content: '';
	display: block;
	width: 41px;
	height: 1px;
	background-color: #999;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	bottom: -18px;
}
.tiles__item:hover .tile__title {
	color: #e74c3c;
}
.tile__descr {
	margin: 30px 0 100px 0;
	color: #999;
	font-family: Source Sans Pro;
	font-size: 12px;
	font-weight: 300;
	line-height: 20px;
	text-align: center;
	letter-spacing: .09em;
}/* ./Tiles */

/* Histoty */
.history {
	padding: 140px 0;
	display: flex;
	justify-content: space-between;
}
.history-left-column {
	width: 505px;
	height: 407px;
	background: url('../img/Monitor.png') center center no-repeat;
	background-size: cover;
}
.history-right-column {
	max-width: 600px;
	padding-left: 15px;
}
.history__title {
	margin: 0 0 40px 0;
	color: #6a6a6a;
	font-family: Source Sans Pro;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding-left: 35px;
	letter-spacing: .095em;
}
.history__title:before {
	content: '';
	display: block;
	width: 6px;
	height: 36px;
	background-color: #e74c3c;
	position: absolute;
	top: 0;
	left: 0;
}
.history__descr {
	margin: 30px 0;
	color: #999;
	font-family: Source Sans Pro;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}
.button--history {
	margin-top: 43px;
}/* ./Histoty */


/*-- 3. SERVICES SECTION
============================*/
.services {
	width: 100%;
	display: flex;
}
.services__left-column {
	width: 56.84%;
	padding-right: 65px;
	background-color: #202020;
}
.services__content-wrap {
	text-align: right;
	max-width: 615px;
	padding: 0 15px;
	margin: 150px 0 140px auto;
}
.services__title {
	margin: 0;
	color: #f4f5f9;
	font-family: Source Sans Pro;
	font-size: 36px;
	line-height: 36px;
	font-weight: 700;
	text-transform: uppercase;
	position: relative;
	padding-right: 35px;
	letter-spacing: .095em;
}
.services__title:before {
	content: '';
	display: block;
	width: 6px;
	height: 36px;
	background-color: #e74c3c;
	position: absolute;
	top: 0;
	right: 0;
}
.services__list {
	margin: 0;
	padding: 0;
}
.services__item {
	position: relative;
}
.services__item-title {
	margin: 60px 0 0 0;
	color: #e74c3c;
	font-size: 18px;
	font-weight: 600;
	line-height: 29px;
	text-transform: uppercase;
}
.services__item-descr {
	margin: 2px 0 0 0;
	color: #999;
	font-family: Source Sans Pro;
	font-size: 14px;
	font-weight: 400;
	line-height: 29px;
}
.circle-icon--bg-services {
	position: absolute;
	bottom: 50%;
	right: -80px;
}
.circle-icon--services-web-design {
	background: #f4f5f9 url('../img/icons/services-icon-1.png') center center no-repeat;
}
.circle-icon--services-print-design {
	background: #f4f5f9 url('../img/icons/services-icon-2.png') center center no-repeat;
}
.circle-icon--services-photography {
	background: #f4f5f9 url('../img/icons/services-icon-3.png') center center no-repeat;
}

.services__right-column {
	width: 44.16%;
	background: url('../img/services-bg.jpg') center right no-repeat;
	background-size: cover;
	padding: 15px;
}
/* ./Services */


/*-- 4. PORTFOLIO SECTION
============================*/
.section-title-wrap--portfolio {
	margin: 131px 0 0 0;
}
.portfolio-nav {
	margin: 64px 0 47px 0;
}
.portfolio-nav__list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	justify-content: center;
}
.portfolio-nav__item {
	padding: 0 15px;
	position: relative;
}
.portfolio-nav__item:after {
	content: '/';
	color: #999;
	position: absolute;
	top: 0;
	right: 0;
}
.portfolio-nav__item:last-child:after {
	display: none;
}
.portfolio-nav__link {
	font-size: 14px;
	color: #999;
	font-weight: 400;
	text-transform: uppercase;
	padding: 5px;
}
.portfolio-nav__link--active {
	color: #e74c3c;
	font-weight: 700;
}

.works {
	width: 100%;
}
.works__list {
	margin: 0;
	padding: 0;
	width: 100%;
	display: flex;
	flex-wrap: wrap;
}
.works__item {
	width: 25%;
	height: 480px;
	position: relative;
	overflow: hidden;
}
.works__link {
	display: block;
	width: 100%;
	height: 100%;
}
.works__link:after {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	background-color: rgba(231, 76, 60, .8);
	position: absolute;
	top: 0;
	left: 0;
	transition: .05s height linear;
}
.works__item:hover .works__link:after {
	height: 100%;
}
.works__img {
	width: 100%;
	height: 100%;
	background-size: cover;
}
.works__img--1 {
	background: url('../img/work/work-1.jpg') center center no-repeat;
}
.works__img--2 {
	background: url('../img/work/work-2.jpg') center center no-repeat;
}
.works__img--3 {
	background: url('../img/work/work-3.jpg') center center no-repeat;
}
.works__img--4 {
	background: url('../img/work/work-4.jpg') center center no-repeat;
}
.works__img--5 {
	background: url('../img/work/work-5.jpg') center center no-repeat;
}
.works__img--6 {
	background: url('../img/work/work-6.jpg') center center no-repeat;
}
.works__img--7 {
	background: url('../img/work/work-7.jpg') center center no-repeat;
}
.works__img--8 {
	background: url('../img/work/work-8.jpg') center center no-repeat;
}
.works-text-wrap {
	display: block;
	width: 350px;
	position: absolute;
	left: 100%;
	bottom: 0;
	margin: 50px;
	z-index: 1;
	transition: left .1s linear .05s;
	visibility: hidden;
}
.works__item:hover .works-text-wrap {
	visibility: visible;
	left: 0;
}
.works__item-title {
	color: #fff;
	font-family: Source Sans Pro;
	font-size: 24px;
	font-weight: 600;
	position: relative;
}
.works__item-title:before {
	content: '';
	display: block;
	width: 44px;
	height: 4px;
	background-color: #fff;
	position: absolute;
	left: 0;
	top: -25px;
}
.works__item-descr {
	margin-top: 15px;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}


/*-- 5. CASE STUDY SECTION
============================*/
.case-study {
	background-color: #f4f5f9;
}
.case-study-title-wrap {
	padding-top: 140px;
}
.column-wrap--case-study {
	margin-top: 100px;
	padding-bottom: 150px;
}
.column--case-study-left {
	padding: 46px 0;
}
.column--case-study-right {
	background: url('../img/case-study-bg.jpg') center center no-repeat;
	background-size: cover;
}
.case-study-content {
	height: 100%;
	padding: 250px 15px 50px 15px;
	position: relative;
	top: 0;
	right: -80px;
	background-color: #FFF;
	box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
}
.case-study-content__rhomb {
	width: 90px;
	height: 90px;
	background-color: #e74c3c;
	transform: rotate(-45deg);
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 80px;
}
.case-study-content__icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	transform: rotate(45deg);
	width: 21px;
	height: 34px;
	background: url('../img/icons/case-study-content-icon.png') center center no-repeat;
}
.case-study-content__title {
	margin: 0;
	color: #6a6a6a;
	font-size: 18px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: .09em;
	position: relative;
}
.case-study-content__title:after {
	content: '';
	display: block;
	width: 41px;
	height: 1px;
	background-color: #999;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	bottom: -30px;
}
.case-study-content__descr {
	margin: 55px auto 47px auto;
	width: 520px;
	color: #999;
	font-family: Source Sans Pro;
	font-size: 14px;
	font-weight: 300;
	line-height: 24px;
	text-align: center;
	letter-spacing: .09em;
}


/*-- 6. STATS SECTION
============================*/
.stats {
	width: 100%;
	background: url('../img/works-bg.jpg') center center no-repeat;
	background-size: cover;
	position: relative;
}
.stats:before {
	content: '';
	display: block;
	width: 100%;
	height: 100%;
	background-color: #000;
	opacity: .5;
	position: absolute;
	top: 0;
	left: 0;
}
.stats__list {
	margin: 0 -15px;
	padding: 50px 0;
	display: flex;
	justify-content: space-between;
}
.stats__item {
	width: 180px;
	padding: 0 15px;
	position: relative;
}
.stats__icon {
	width: 31px;
	height: 31px;
	margin: 147px auto 0 auto;
	position: relative;
}
.stats__icon--users {
	background: url('../img/icons/works-icon-1.png') center center no-repeat;
}
.stats__icon--last-24 {
	background: url('../img/icons/works-icon-2.png') center center no-repeat;
}
.stats__icon--total-posts {
	background: url('../img/icons/works-icon-3.png') center center no-repeat;
}
.stats__icon--campaigns {
	background: url('../img/icons/works-icon-4.png') center center no-repeat;
}
.stats__icon--features {
	background: url('../img/icons/works-icon-5.png') center center no-repeat;
}
.stats__icon:before {
	content: '';
	display: block;
	width: 110px;
	height: 110px;
	border: 1px solid #fff;
	border-radius: 50%;
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}
.stats__number {
	margin: 83px 0 0 0;
	color: #f4f5f9;
	font-family: Source Sans Pro;
	line-height: 30px;
	font-size: 30px;
	font-weight: 400;
	text-align: center;
	letter-spacing: .09em;
	transition: color .1s linear;
	position: relative;
}
.stats__number--bold {
	font-weight: 700;
}
.stats__descr {
	margin: 6px 0 55px 0;
	color: #f4f5f9;
	font-family: Source Sans Pro;
	font-size: 18px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
	letter-spacing: .09em;
}


/*-- 7. PRICING SECTION
============================*/
.pricing {
	background-color: #FFF;
}
.section-title-wrap--pricing {
	margin: 147px 0 0 0;
}
.pricing-wrap {
	margin: 68px 0 143px 0;
}
.pricing__list {
	margin: 0 -15px;
	padding: 0;
	display: flex;
}
.pricing__item {
	width: 33.3333%;
	margin: 0 7.5px;
	background-color: #f4f5f9;
}
.pricing__header {
	height: 205px;
	background-color: #999;
	position: relative;
}
.pricing__header--best-choice {
	background-color: #e74c3c;
}
.pricing__header--best-choice .pricing__price {
	color: #e74c3c;
	font-weight: 700;
}
.pricing__title {
	padding-top: 48px;
	height: 19px;
	color: white;
	font-size: 24px;
	font-weight: 600;
	text-transform: uppercase;
	text-align: center;
}
.circle-icon-bg--pricing {
	position: absolute;
	right: 50%;
	bottom: 0;
}
.circle-icon-pricing {
	background-color: #FFF;
}
.pricing__price-wrap {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.pricing__price {
	color: #999;
	font-family: "Source Sans Pro";
	font-weight: 400;
	font-size: 40px;
}
.pricing__price-time {
	color: #999;
	font-size: 13px;
	line-height: 22px;
	font-weight: 400;
}
.pricing__descr-list {
	margin: 111px 0 0 0;
	padding: 0;
}
.pricing__descr-item {
	color: #999;
	font-size: 14px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
}
.pricing-button-wrap {
	margin: 37px 0 50px 0;
}


/*-- 8. CLIENTS SECTION
============================*/
.clients {
	background-color: #f4f5f9;
}
.section-title-wrap--clients {
	padding-top: 140px;
}
.clients-list-wrap {
	padding: 70px 0 125px 0;
	width: 100%;
}
.clients__list {
	margin: -15px;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.clients__item {
	width: 210px;
	height: 100px;
	box-shadow: 0 1px 3px rgba(31, 31, 31, 0.09);
	background: #fff url('../img/maxcdn-website-logo.png') center center no-repeat;
	margin: 15px;
}
.clients__item:hover {
	background-color: #e74c3c;
	box-shadow: 0 3px 9px 1px rgba(31, 31, 31, 0.3);
}


/*-- 9. BLOG SECTION
============================*/
.blog {
	background-color: #f4f5f9;
}
.section-title-wrap--blog {
	padding-top: 123px;
	margin-bottom: 72px;
}
.blog-tiles__list {
	margin: 0;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}
.blog-tiles__item {
	width: 25%;
	position: relative;
}

/* Triangles */
.triangle-left:before, .triangle-right:before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	border-top: 34px solid transparent;
	border-bottom: 34px solid transparent;
}
.triangle-left:before {
	border-right: 28px solid #e74e3e;
	right: 100%;
	top: 50%;
	transform: translate(0, -50%);
}
.triangle-right:before {
	border-left: 28px solid #e74e3e;
	left: 100%;
	top: 50%;
	transform: translate(0, -50%);
	z-index: 1;
}/* ./Triangles */

/* Imgs */
.blog-tiles__item--img-1 {
	background: url('../img/blog/blog-bg-1.jpg') center center no-repeat;
	background-size: cover;
}
.blog-tiles__item--img-2 {
	background: url('../img/blog/blog-bg-2.jpg') center center no-repeat;
	background-size: cover;
}
.blog-tiles__item--img-3 {
	background: url('../img/blog/blog-bg-3.jpg') center center no-repeat;
	background-size: cover;
}
.blog-tiles__item--img-4 {
	background: url('../img/blog/blog-bg-4.jpg') center center no-repeat;
	background-size: cover;
}/* ./Imgs */

/* Imgs Description */
.blog-tiles__item--descr {
	background-color: #e74e3e;
	padding: 68px 50px;
}
.blog-tiles__item-category {
	color: #fff;
	font-size: 14px;
	font-weight: 400;
}
.blog-tiles__item-title {
	margin-top: 24px;
	color: #fff;
	font-family: Source Sans Pro;
	font-size: 24px;
	font-weight: 600;
	position: relative;
}
.blog-tiles__item-title:after {
	content: '';
	display: block;
	width: 44px;
	height: 4px;
	background-color: white;
	position: absolute;
	left: 0;
	bottom: -20px;
}
.blog-tiles__item__descr {
	margin: 60px 0 0 0;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 30px;
}
.blog-tiles__item-read-more-link {
	margin-top: 47px;
	display: block;
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-weight: 600;
	font-style: italic;
}
.fa-angle-double-right {
	color: #fff;
	font-size: 18px;
	line-height: 24px;
	font-family: FontAwesome;
	font-weight: 400;
	position: relative;
	left: 0;
	transition: left .1s linear;
}
.blog-tiles__item-read-more-link:hover .fa-angle-double-right {
	left: 10px;
}
/* ./Imgs Description */


/*-- 10. CONTACTS SECTION
============================*/
.contacts {
	background-color: #f4f5f9;
}
.section-title-wrap--contacts {
	padding-top: 140px;
	margin-bottom: 70px;
}

/* Address Column */
.address-wrap {
	display: flex;
	margin: 0 -15px;
	padding-bottom: 153px;
}
.address, .contacts-form {
	margin: 0 15px;
	background-color: #fff;
	border-radius: 3px;
	box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	padding: 95px;
}
.address {
	width: 41.6666%;
}
.address__list {
	margin: 0;
	padding: 0;
}
.address__item {
	margin-top: 65px;
}
.address__item:first-child {
	margin-top: 0;
}
.address__title {
	margin: 0 0 22px 0;
	color: #e74e3e;
	font-family: Source Sans Pro;
	font-size: 24px;
	font-weight: 600;
	line-height: 24px;
}
.address__link {
	display: block;
	color: #999;
	font-size: 18px;
	font-weight: 400;
	line-height: 24px;
}
.address__link span {
	display: block;
}/* ./Address Column */

/* Contacts Form Column */
.contacts-form {
	width: 58.3333%;
}
.contacts-form__label {
	display: block;
	color: #999;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
}
.contacts-form__input {
	border: none;
	width: 100%;
	padding: 2px 0;
	color: #999;
	font-size: 16px;
}
.contacts-form__input:focus {
	outline: none;
}
.contacts-form__input-underline {
	width: 100%;
	height: 1px;
	background-color: rgba(153, 153, 153, .25);
	margin-bottom: 28px;
	position: relative;
}
.contacts-form__input-underline:before, .contacts-form__input-underline:after {
	content: "";
	display: block;
	height: 2px;
	width: 0;
	background-color: blue;
	position: absolute;
	bottom: -3px;
	transition: width .1s linear;
}
.contacts-form__input-underline:before {
	left: 50%;
}
.contacts-form__input-underline:after {
	right: 50%;
}
.contacts-form__input:focus + .contacts-form__input-underline:before,
.contacts-form__input:focus + .contacts-form__input-underline:after {
	width: 50%;
}
.contacts-form__textarea:focus + .contacts-form__input-underline:before,
.contacts-form__textarea:focus + .contacts-form__input-underline:after {
	width: 50%;
}

.contacts-form__input:focus:invalid + .contacts-form__input-underline:before,
.contacts-form__input:focus:invalid + .contacts-form__input-underline:after {
	background-color: red;
}
.contacts-form__input:focus:valid + .contacts-form__input-underline:before,
.contacts-form__input:focus:valid + .contacts-form__input-underline:after {
	background-color: blue;
}

.contacts-form__textarea:focus:invalid + .contacts-form__input-underline:before,
.contacts-form__textarea:focus:invalid + .contacts-form__input-underline:after {
	background-color: red;
}
.contacts-form__textarea:focus:valid + .contacts-form__input-underline:before,
.contacts-form__textarea:focus:valid + .contacts-form__input-underline:after {
	background-color: blue;
}

.contacts-form__textarea {
	width: 100%;
	height: 90px;
	border: none;
	padding: 2px 0;
	color: #999;
	font-size: 16px;
	resize: none;
}
.contacts-form__textarea:focus {
	outline: none;
}
#submit {
	display: none;
}
/* ./Contacts Form Column */


/*-- 11. PROMO SECTION
============================*/
.promo {
	width: 100%;
	background: url('../img/promo-bg.jpg') center center no-repeat;
	background-size: cover;
}
.container--promo {
	padding: 138px 0;
	color: #fff;
}
.promo__title {
	margin-top: 10px;
	font-size: 36px;
	font-weight: 400;
	line-height: 30px;
	text-align: center;
}
.promo__title-bold {
	font-weight: 700;
}
.promo__descr {
	margin: 11px 0 0 0;
	font-size: 18px;
	font-weight: 400;
	line-height: 36px;
	text-align: center;
}
.promo-button-wrap {
	margin-top: 61px;
}


/*-- 12. FOOTER SECTION
============================*/
.footer {
	width: 100%;
	background-color: #202020;
}
.container--footer {
	display: flex;
	justify-content: space-between;
}

/* Social Buttons */
.social-buttons {
	display: inline-block;
}
.social-buttons__list {
	margin: 0;
	padding: 0;
	display: flex;
}
.social-buttons__item {
	margin: 34px 11px 34px 0;
}
.social-buttons__item:last-child {
	margin-right: 0;
}
.social-buttons__link {
	padding: 5px;
	color: #999;
	font-size: 21px;
	line-height: 21px;
}
.social-buttons__link:hover {
	color: #e74c3c;
}/* ./Social Buttons */

/* Copyright */
.copy {
	opacity: 0.75;
	color: #999;
	font-size: 14px;
	font-weight: 600;
	line-height: 24px;
	align-self: center;
}