.about-porson {
   padding: 25px 15px;
}
.section-title {
   color: #333;
   margin: 0;
   font-family: Bernadette;
   font-size: 65px;
   font-weight: 400;
   letter-spacing: -1.58px;
}
.section-title-descr {
   color: #505050;
   font-size: 22px;
   font-weight: 700;
   letter-spacing: 0.5px;
   margin: 0 0 20px 0;
}
.section-descr {
   color: #040404;
   font-size: 18px;
   font-weight: 300;
   letter-spacing: 0.45px;
   margin: 0 0 40px 0;
}