.cards-item {
   padding: 15px;
}
.cards-figure {
   display: flex;
   flex-direction: column;
   box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
   border-radius: 11px;
   background-color: #fff;
   overflow: hidden;
   img {
      width: 100%;
   }
   figcaption {
      text-align: center;
      padding: 15px;
      .title {
         color: #332;
         font-size: 25px;
         font-weight: 700;
         letter-spacing: 0.61px;
      }
      .description {
         color: #040404;
         font-size: 16px;
         font-weight: 300;
         line-height: 24px;
         position: relative;
         white-space: normal;
      }
      button {
         position: absolute;
         bottom: 0;
         left: 50%;
         transform: translate(-50%, -50%);
      }
   }
}