@font-face {
	font-family: 'Pacifico Regular';
	src:url('../fonts/Pacifico-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Light';
	src:url('../fonts/raleway.light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Bold';
	src:url('../fonts/raleway.bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Raleway Heavy';
	src:url('../fonts/raleway.heavy.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}