
/*
large screen
============
*/
@media screen and ( max-width: 1920px) {

}


/*
medium 
============
*/
@media screen and ( max-width: 1110px) {
	.section-title {
		font-size: 4rem;
	}
	.container--about {
		background-size: 40%;
	}
	.section-title-wrap--about {
		padding: 80px 0 100px 0;
	}
	.container--services {
		padding: 80px 15px;
	}
	.subscribe {
		padding: 80px 0;
	}
	.contact {
		padding: 80px 0;
	}
}

@media screen and ( max-width: 950px) {
	.contacts-left-column {
		width: 100%;
		margin-bottom: 30px;
	}
	.contact-form {
		margin: 0 auto;
	}
	.contacts-right-column {
		width: 100%;
	}
	.contact-address__list {
		max-width: 500px;
		margin: 0 auto;
	}
}

@media screen and ( max-width: 910px) {
	.section-title-wrap--about {
		width: 55%;
	}
	.container--services {
		background: transparent;
		flex-direction: column;
	}
	.section-title-wrap--services {
		margin-top: 0;
		margin-bottom: 30px;
		order: -1;
		text-align: center;
	}
	.subscribe {
		background: #FFF;
	}
}

@media screen and ( max-width: 790px) {
	.container--about {
		background: transparent;
	}
	.section-title-wrap--about {
		width: 100%;
	}
	.section-title-wrap--about > .section-title {
		text-align: center;
	}
}

@media screen and ( max-width: 750px) {
	.home-content {
		background: #FFF;
	}
	.nav {
		width: 250px;
		height: 100vh;
		padding: 25px;
		position: fixed;
		top: 0;
		right: 0;
		transform: translateX(100%);
		background: lightblue;
		z-index: 9999;
		transition: transform .2s linear;
		will-change: transform;
	}
	.nav__list {
		flex-direction: column;
	}
	.nav__item {
		margin-bottom: 10px;
	}
	.nav__item:last-child {
		margin-bottom: 0;
	}
	.nav__link {
		display: inline-block;
		padding: 5px;
	}
	.nav__link:hover {
		color: #ff6033;
	}
	.nav__link:active {
		color: #ff6033;
	}
	.nav__link:before {
		display: none;
	}
	.hamburger__icon {
		display: block;
	}
	.hamburger__input:checked ~ .nav {
		transform: translateX(0);
	}
	.hamburger__input:checked + .hamburger__icon:before {
		content: '';
		display: block;
		width: 100%;
		height: 100vh;
		position: fixed;
		top: 0;
		left: 0;
		background: #666;
		opacity: .6;
		cursor: default;
	}
}

@media screen and ( max-width: 700px) {
	.section-title {
		font-size: 3.5rem;
	}
	.footer__copy {
		display: none;
	}
}

@media screen and ( max-width: 620px) {
	.gallery__img {
		width: 456px;
		height: 303px;
	}
}

@media screen and ( max-width: 590px) {
	.subscribe-title {
		text-align: center;
	}
	.subscribe-form {
		flex-wrap: wrap;
		justify-content: center;
	}
	.subscribe-input {
		width: 100%;
		margin: 0 0 20px 0;
	}
}

@media screen and ( max-width: 510px) {
	.section-title {
		font-size: 3rem;
	}
	.section-title-wrap--about {
		padding: 50px 0 60px 0;
	}
	.container--services {
		padding: 50px 15px;
	}
	.gallery {
		padding: 50px 0 80px 0;
	}
	.gallery__img {
		width: 365px;
		height: 243px;
	}
	.subscribe {
		padding: 50px 0;
	}
	.blog {
		padding: 50px 0 80px 0;
	}
	.contact {
		padding: 50px 0;
	}
}

@media screen and ( max-width: 455px) {
	.scroll-icon {
		display: none;
	}
	.services-tiles__item {
		width: 100%;
	}
}
@media screen and ( max-width: 420px) {
	.gallery__img {
		width: 292px;
		height: 197px;
	}
	.blog-works__img {
		width: 290px;
		height: 248px;
	}
	.blog-works__title {
		font-size: 1.05rem;
	}
	.footer__author {
		display: none;
	}
}

@media screen and ( max-width: 365px) {
	.subscribe-title {
		font-size: 2.1rem;
	}
	.contact-address__link {
		font-size: 1.1rem;
	}
}