.figure {

   img {
      width: 100%;
      border-radius: 11px;
   }
}
.figcaption {
   padding: 30px 0;
   @media (max-width: 700px){
      padding: 15px 0;
   }
}
.full-name {
   color: #333;
   font-size: 25px;
   font-weight: 500;
   letter-spacing: 0.61px;
   margin: 0;
   @media (max-width: 1200px) {
      font-size: 23px;
   }
   @media (max-width: 1200px){
      font-size: 20px;
   }
}
.job-title {
   color: #a3a3a3;
   font-size: 20px;
   font-weight: 300;
   letter-spacing: 0.5px;
   padding: 0;
   @media (max-width: 1200px) {
      font-size: 18px;
   }
   @media (max-width: 1200px) {
      font-size: 15px;
   }
}