button {
   color: #020202;
   font-size: 16px;
   line-height: 20px;
   font-weight: 700;
   text-transform: uppercase;
   letter-spacing: 0.32px;
   padding: 10px 15px;
   border-radius: 20px;
   box-shadow: 0 0 49px rgba(0, 0, 0, 0.07);
   background-color: #fff;
   border: 0;
   &.-gradient {
      color: #fff;
      background-image: linear-gradient(to right, #de813c 0%, #3f519a 100%);
   }
   &.-transparent {
      background: transparent;
      padding: 0;
      display: flex;
   }
}
