.button {
   border: 0;
   padding: 5px 10px;
   cursor: pointer;
   border-radius: 3px;
   display: flex;
   align-items: center;
   @media (max-width: 500px) {
      padding: 5px;
   }
   &.-no-padding {
      padding: 0;
   }
}