// Navigation .....
.nav {
	display: flex;
	justify-content: flex-end;
}
.nav__list {
	margin: 0;
	padding: 0;
	display: flex;
	list-style: none;
}
.nav__item {
	margin-right: 55px;
	&:last-child {
		margin-right: 0;
	}
}
.nav__link {
	color: $colorNav;
	font-size: 0.875rem;
	line-height: 2.46;
	text-transform: uppercase;
	letter-spacing: 0.7px;
	text-decoration: none;
	transition: color .2s linear;
	&:hover {
		color: $colorWhite;
	}
}

// Hamburger .....
.hamburger__input {
	display: none;
}
.hamburger__icon {
	font-size: 2rem;
	cursor: pointer;
	color: $colorHamburger;
	position: fixed;
	top: 20px;
	right: 30px;
	z-index: 999;
	display: none
}