.section__list {
	width: 100%; 
	margin: 0;
	padding: 0;
	list-style: none;
}
.section__item {
	padding: 65px 0;
}
.section__item--first-color {
	background: $sectionItemFirstBg;
}
.section__item--second-color {
	background: $sectionItemSecondBg;
}
.section__item--third-color {
	background: $sectionItemThirdBg;
}
.section__item--third-color {
	.section__item-title-number:before {
		background: #efefef;
	}
}
.section__item-title-wrap {
	position: relative;
}
.section__item-title-number {
	position: absolute;
	top: 0;
	left: 0;
	color: $colorBlack;
	font-size: 1.125rem;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.9px;
	&:before {
		content: '';
		width: 100%;
		height: 5px;
		background: $secondBg;
		position: absolute;
		left: 0;
		bottom: -9px;
	}
}
.section__item-title {
	margin-bottom: 31px;
	padding-left: 33px;
	display: inline-block;
	color: $colorSectionItemTitle;
	font-size: 2.25rem;
	font-weight: 700;
	line-height: 0.96;
	text-transform: uppercase;
	letter-spacing: 1.8px;
}
.section__item-descr {
	margin-bottom: 0;
	color: $colorBlack;
	font-size: 1.25rem;
	letter-spacing: 1px;
}