
/*-- adjustment settings
============================*/

* {
	box-sizing: border-box;
}



/* input settings */
/* *::-webkit-input-placeholder {
	color: #666;
	opacity: 1;
}
*:-moz-placeholder {
	color: #666;
	opacity: 1;
}
*::-moz-placeholder {
	color: #666;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #666;
	opacity: 1;
} */

html, body {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: column;
	font-family: 'Montserrat Light';
	color: #fff;
}

body {
	background: #fff;
}

.maincontent {
	flex-grow: 1;
}

.container {
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	position: relative;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #000;
}

/* Navigation */
.nav {
	margin: 40px 0;
}
.nav__list {	
	padding: 0;
	margin: 0;
	display: flex;
}
.nav__item {
	margin-left: 54px;
}
.nav__item:first-child {
	margin-left: 0;
}
.nav__link {
	font-family: 'Montserrat Medium';
	font-size: 0.875rem;
	line-height: 1rem;
	color: #fff;
	text-transform: uppercase;
	letter-spacing: .090909em;
	display: block;
	padding: 8px 0;
	transition: color .2s linear;
}
.nav__link:hover {
	color: #ffd21d;
}/* ./Navigation */

/* Column */
.column-wrap {
	width: 100%;
	display: flex;
}
.column {
	width: 50%;
	padding: 0 15px;
}
.column__text {
	color: #333;
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
}
.column__title {
	margin: 0;
	font-family: 'Montserrat Regular';
	font-size: 3.75rem;
	position: relative;
}
.column__title:after {
	content: '';
	position: absolute;
	height: 4px;
	width: 33px;
	background-color: #ffd21d;
	bottom: -31px;
	right: 0;
	left: 0;
	margin: 0 auto;
}
.column__desc {
	margin: 60px 0 0 0;
	font-size: 1.25rem;
	line-height: 2.125rem;
}/* ./Column */

/* Button */
.button {
	width: 210px;
	height: 60px;
	background-color: #ffd21d;
	border-radius: 30px;
	margin: 52px auto 0 auto;
	text-align: center;
	transition: background-color .2s linear;
}
.button__link {
	font-family: 'Montserrat Regular';
	text-transform: uppercase;
	font-size: 0.875rem;
	color: #162240;
	display: block;
	height: 100%;
	border-radius: 30px;
	line-height: 60px;
	letter-spacing: .11em;
	transition: color .2s linear;
}
.button:hover {
	background-color: #162240;
}
.button__link:hover {
	color: #fff;
}/* ./Button */


/***
*
* HEADHESIVE
*
***/
/* Headhesive */
.headhesive {
	background-color: #162240;
	position: fixed;
	width: 100%;
	z-index: 1000;
	top: 0;
	transform: translateY(-100%);
	transition: transform .2s linear;
}
.headhesive--stick {
	transform: translateY(0);
}

.headhesive-container {
	width: 100%;
	display: flex;
}
.logo-small {
	width: 20%;
	position: relative;
}
.logo-small__link {
	background: url('../img/small-logo.png') center center no-repeat;
	background-size: cover;
	display: block;
	height: 33px;
	width: 75px;
	position: absolute;
	top: 50%;
	margin-top: -16.5px;
}
.headhesive--nav {
	margin: 0;
	width: 80%;
}
.headhesive--nav__list {
	justify-content: flex-end;
}
.headhesive--nav__item {
	position: relative;
	margin: 24px 0 24px 59px;
}
.headhesive--nav__link:before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 2px;
	width: 0;
	background-color: #ffd21d;
	transition: width .2s linear;
}
.headhesive--nav__link:hover:before {
	width: 100%;
}/* ./Headhesive */


/***
*
* HOME SECTION
*
***/
.home-section {
	background: url('../img/home-section-back.jpg') center center no-repeat;
	background-size: cover;
	width: 100%;	
}
.home-container {
	padding-top: 53px;
	height: 100vh;
	font-size: 0;
	text-align: center;
}
/* Header */
.header {
	display: inline-block;
}
.logo {
	font-family: 'Montserrat Bold';
	text-transform: uppercase;
	font-size: 2.0625rem;
	color: #FFF;
	letter-spacing: 0.25rem;
	word-spacing: 0.875rem;
	display: inline-block;
	background: url('../img/line-logo.png') center center no-repeat;
}/* ./Header */

/* Content */
.geometric-back {
	width: 370px;
	margin: 0 auto;
}
.geometric-back__rectangle {
	height: 661px;
	background-color: #162240;
	position: relative;
}
.geometric-back__yellow-line {
	background-color:  #ffd21d;
	width: 150px;
	height: 7px;
	position: absolute;
	top: 124px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
.home-section--title {
	text-align: center;
	font-size: 3.75rem;
	position: absolute;
	top: 200px;
	left: 50%;
	margin: 0 0 0 -450px;
	width: 900px;
}
.home-section--title-bold {
	font-family: 'Montserrat Bold';
	font-size: 7.5rem;
	line-height: 6.875rem;
	display: block;
}
.geometric-back__text {
	font-size: 1rem;
	line-height: 1.875rem;
	text-align: center;
	padding: 0 40px;
	position: absolute;
	top: 424px;
}
.geometric-back__scroll-icon {
	background: url('../img/scroll-icon.png') center center no-repeat;
	background-size: cover;
	width: 30px;
	height: 50px;
	opacity: .1;
	position: absolute;
	bottom: 7px;
	left: 50%;
	margin-left: -15px;
}
.geometric-back__treangle {
	width: 0;
	height: 0;
	border-left: 185px solid transparent;
	border-right: 185px solid transparent;
	border-top: 65px solid #162240;
}/* ./Content */

/***
*
* ABOUT SECTION
*
***/
.about {
	width: 100%;
}

/* About Column */
.column-about {
	padding-top: 91px;
	height: 600px;
}

/* About Photo */
.about--photo {
	background: url('../img/about-photo.jpg') center center no-repeat;
	background-size: cover;
	height: 600px;
}

/* About Tiles */
.about-tiles {
	max-width: 1600px;
	margin: 0 auto;	
}
.about-tiles__list {
	padding: 0;
	margin: 0;
	display: flex;
}
.about-tiles__item {
	width: 25%;
	height: 370px;
	padding: 15px;
	background-color: #f7f8fc;
	text-align: center;
	color: #666;
	transition-property: background-color, color;
	transition-duration: .2s;
	transition-timing-function: linear;
	border-right: rgba(22, 34, 64, .1) 1px solid;
}
.about-tiles__item:last-child {
	border-right: none;
}
.about-tiles__item:hover {
	background-color: #eff1f9;
	fill: #ffd21d;
	color: #162240;
}
.about-tiles--icons {
	font-size: 60px;
	color: rgba(22, 34, 64, .25);
	padding-top: 72px;
	transition: color .2s linear;
}
.about-tiles__item:hover .about-tiles--icons {
	color: #ffd21d;
}
.about-tiles__title {
	font-family: 'Montserrat Regular';
	font-size: 1.625rem;
	margin: 0;
	position: relative;
	padding-top: 27px;
}

.about-tiles__text {
	line-height: 1.75;
	width: 250px;
	margin: 18px auto 0 auto;
}/* ./About Tiles */


/***
*
* SERVICES SECTION
*
***/
.services-section {
	width: 100%;
}

/* Services Photo */
.services--photo {
	background: url('../img/services-photo.jpg') center center no-repeat;
	background-size: cover;
	height: 600px;
}

/* Services Colimn */
.column-services {
	padding-top: 91px;
	height: 600px;
}

/* Services Slider */
.services-slider {
	background-color: #162240;
	width: 100%;
	height: 700px;
	position: relative;
}
.services-slider:before {
	content: '';
	position: absolute;
	background: url('../img/services-slider-large-photo.jpg') center center no-repeat;
	width: 100%;
	height: 100%;
	background-size: cover;
	opacity: .1;
}
.slider-wrap {
	max-width: 1200px;
	margin: 0 auto;
}
.services-slider__text {
	width: 450px;
}
.services-slider__title {
	padding-top: 173px;
	font-family: 'Montserrat Regular';
	font-size: 4.375rem;
	margin: 0;
}
.services-slider__desc {
	padding-top: 30px;
	margin: 0;
	font-size: 1.25rem;
	line-height: 2.25rem;
}
.services-slider__img {
	width: 370px;
	height: 441px;
	margin-top: 100px;
	float: right;
	border: 6px #ffd21d solid;
	position: relative;
}
.services-slider__img:before {
	content: '';
	background: url('../img/services-slider-small-photo.jpg') center center no-repeat;
	width: 370px;
	height: 441px;
	position: absolute;
	top: 44px;
	right: 74px;
}/* ./Services Slider */


/***
*
* WORKS SECTION
*
***/
.works-section {
	width: 100%;
}

/* Works Column */
.column-works {
	padding-top: 91px;
	height: 600px;
}

/* Works Photo */
.works--photo {
	background: url('../img/works-photo.jpg') center center no-repeat;
	background-size: cover;
	height: 600px;
}

/* Works Images */
.works-imgs {
	width: 100%;
}
.works-imgs__list {
	display: flex;
	margin: 0;
	padding: 0;
}
.works-imgs__item {
	width: 25%;
	height: 600px;
	position: relative;
}
.works-imgs__item:before {
	content: '';
	width: 100%;
	height: 100%;
	background-color: rgba(22, 34, 64, .75);
	position: absolute;
	visibility: hidden;
}
.works-imgs__item:hover:before {
	visibility: visible;
}
.works-imgs__item:after {
	content: '';
	position: absolute;
	width: 100px;
	height: 250px;
	border: 6px #ffd21d solid;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
	transform: scale(0);
	transition: transform .2s linear;
}
.works-imgs__item:hover:after {
	transform: scale(1);
}
.works--img1 {
	background: url('../img/works-img-1.jpg') center center no-repeat;
	background-size: cover;
}
.works--img2 {
	background: url('../img/works-img-2.jpg') center center no-repeat;
	background-size: cover;
}
.works--img3 {
	background: url('../img/works-img-3.jpg') center center no-repeat;
	background-size: cover;
}
.works--img4 {
	background: url('../img/works-img-4.jpg') center center no-repeat;
	background-size: cover;
}
.works-imgs__title {
	text-align: center;
	display: block;
	font-family: 'Montserrat Regular';
	font-size: 2.875rem;
	line-height: 3rem;
	width: 200px;
	height: 96px;
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	z-index: 2;
	transform: scale(0);
	transition: transform .2s linear;
}
.works-imgs__item:hover .works-imgs__title {
	transform: scale(1);
}/* ./Works Images */

/* More Works Button */
.more-works-btn {
	display: inline-block;
	width: 100%;
	height: 100%;
	text-align: center;
	background-color: #f7f8fc;
	border-bottom: 1px #e0e2e9 solid;
	transition: background-color .1s linear;
}
.more-works-btn:hover {
	background-color: #ffd21d;
}
.more-works-btn__link {
	height: 100%;
	padding: 40.125px 0;
	display: flex;
	width: 100%;
	justify-content: center;
}
.more-works--icon {
	font-size: 1.7rem;
	color: rgba(22, 34, 64, .5);
	transition: color .1s linear;
}
.more-works-btn__link:hover .more-works--icon {
	color: rgb(22, 34, 64);
}
.more-works-btn__text {
	font-family: 'Montserrat Regular';
	font-size: 1.125rem;
	line-height: 1.7rem;
	color: rgba(22, 34, 64, .5);
	position: relative;
	text-transform: uppercase;
	transition: color .1s linear;
}
.more-works-btn__link:hover .more-works-btn__text {
	color: rgb(22, 34, 64);
}
.more-works-btn__link:hover .more-works-btn__text:before {
	background: url('../img/more-works-icon-hover.svg') center center no-repeat;
	height: 18.8px;
}/* ./More Works Button */


/***
*
* CLIENTS SECTION
*
***/
.clients-section {
	width: 100%;
}

/* Clients List */
.clients__list {
	display: flex;
	margin: 0;
	padding: 0;
}
.clients__item {
	height: 200px;
	width: 16.6666%;
	
}
.clients__logo {
	width: 170px;
	height: 100%;
	margin: 0 auto;
	background-size: cover;
	opacity: .2;
	transition: opacity .2s linear;
}
.clients__item:hover .clients__logo {
	opacity: 1;
}
.clients--logo1 {
	background: url('../img/client-logo1.png') center center no-repeat;
}
.clients--logo2 {
	background: url('../img/client-logo2.png') center center no-repeat;
}
.clients--logo3 {
	background: url('../img/client-logo3.png') center center no-repeat;
}
.clients--logo4 {
	background: url('../img/client-logo4.png') center center no-repeat;
}
.clients--logo5 {
	background: url('../img/client-logo5.png') center center no-repeat;
}
.clients--logo6 {
	background: url('../img/client-logo6.png') center center no-repeat;
}/* ./Clients List */

/* Clients Quote Slider */
.client-quote-slider {
	width: 100%;
	height: 420px;
	background-color: #162240;
}
.client-quote-wrap {
	max-width: 930px;
	margin: 0 auto;
	padding: 145px 15px 0 15px;
	text-align: center;
}
.client-quote {
	margin: 0;
	font-size: 1.5rem;
	line-height: 2.25rem;
	position: relative;
}
.client-quote:before {
	content: '';
	background: url('../img/quote-icon.png') center center no-repeat;
	background-size: cover;
	width: 44px;
	height: 31px;
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	top: -74px;
}
.client-quote__client-name {
	font-family: 'Montserrat Regular';
	font-size: 1.625rem;
	padding-top: 52px;
	position: relative;
}
.client-quote__client-name:before {
	content: '';
	width: 33px;
	height: 4px;
	background-color: #ffd21d;
	position: absolute;
	left: 0;
	right: 0;
	margin: 0 auto;
	top: 31px;
}
.client-quote__client-prof {
	color: #ffd21d;
	padding-top: 5px;
}/* Clients Quote Slider */


/* Discount Bunner */
.discount {
	background-color: #ffd21d;
}
.discount__text {
	font-family: 'Montserrat Regular';
	font-size: 3.25rem;
	line-height: 3.25rem;
	padding: 74px 0;
	display: inline-block;
	color: #162240;
}
.button--discount {
	background-color: #162240;
	margin: 0;
	position: absolute;
	right: 15px;
	top: 0;
	bottom: 0;
	margin: auto 0;
}
.button--discount:hover {
	background-color: #FFF;
}
.button--discount__link {
	color: #fff;
}
.button--discount:hover .button--discount__link {
	color: #162240;
}/* ./Discount Bunner */


/***
*
* CONTACTS SECTION
*
***/
.contacts-section {
	width: 100%;
	display: flex;
}

/* Map */
.map-column {
	width: 46.25%;
	height: 600px;
}

/* Social Buttons */
.social-buttons-column {
	width: 7.5%;
	height: 600px;
}
.social-buttons__list {
	display: flex;
	flex-direction: column;
	margin: 0;
	padding: 0;
}
.social-buttons__item {
	height: 100px;
	background-color: #f7f8fc;
	position: relative;
	border-bottom: 1px #e0e2e9 solid;
}
.social-buttons__item:hover {
	background-color: #eff1f9;
}
.social-buttons__item:last-child {
	border-bottom: none;
}
.social-buttons__link {
	display: block;
	height: 100%;
	width: 100%;
}
.social-buttons__icon {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	background-size: cover;
	height: 22px;
	width: 22px;
	opacity: .2;
	transition: opacity .2s linear;
}
.social-buttons__item:hover .social-buttons__icon {
	opacity: 1;
}
.icon--twitter {
	background: url('../img/twitter.png') center center no-repeat;
}
.icon--facebook {
	background: url('../img/facebook.png') center center no-repeat;
}
.icon--linkedin {
	background: url('../img/linkedin.png') center center no-repeat;
}
.icon--pinterest {
	background: url('../img/pinterest.png') center center no-repeat;
}
.icon--flickr {
	background: url('../img/flickr.png') center center no-repeat;
}
.icon--google {
	background: url('../img/google.png') center center no-repeat;
}/* ./Social Buttons */

/* Contacts Column */
.column-contacts {
	width: 46.25%;
	padding-top: 152px;
	height: 600px;
}
.address {
	font-style: normal;
}
.contacts__address {
	padding-top: 54px;
	font-size: 1.25rem;
	line-height: 2.75rem;
}
.contacts__tel {
	font-family: 'Montserrat Medium';
	color: #333;
	font-size: 3.125rem;
	line-height: 3.5rem;
}
.contacts__email {
	font-size: 1.25rem;
	line-height: 2.5rem;
	color: #003399;
}/* ./Contacts Column */